:root {
    --filter-width:345px;
  }

body {
overflow-x: hidden;
}
.search-container {
    /* margin-top:64px; */
    width: 100%;
    background: #FAFAFA;

}

.search-bar {
    width: 100%;
    height: 41px;
    margin-top:18px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-bar:focus {
    border:2px solid black;
}

#search-icon {
    margin-left:10px;
    margin-right:10px;
    
}
#search-input {
    width:95%;
    height:41px;
    border: 1px solid #D0D0D0;
    border-left:none;
}
#search-input:focus .search-bar {
    border:2px solid #15BF3A;
}


.filter-container {
    position:absolute;
    top:160px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    width: var(--filter-width);

}

#filter-btn {
    border-radius: 4px;
    width:160px;
    height:48px;
    line-height: normal;
    margin-top:30px;

}

.line-separator {
    width:40%;
    height:0px;
    border: 1px solid #000000;
    margin-top:24px;
}

#cuisine-header {
    font-size:24px;
    font-weight:400;
    margin-right:70px;
    margin-top:30px;
}
.cuisine-boxes {
    width:160px;
    margin-top:30px;
    font-size:18px;
}
.cuisine-labels {
    margin-left:10px;
}

.cuisine-input {
    margin-bottom:5px;
}

#type-header {
    font-size:24px;
    font-weight:400;
    margin-right:100px;
    margin-top:30px;
}
.type-boxes {
    width:160px;
    margin-top:30px;
    font-size:18px;
}
.type-labels {
    margin-left:10px;
}

.type-input {
    margin-bottom:5px;
}

#location-header {
    font-size:24px;
    font-weight:400;
    margin-right:60px;
    margin-top:30px;
}

#location-dropdown {
    background-color: white;
    border: 1px solid black;
    width:150px;
    margin-top:20px;
    margin-right:10px;
    
}

#dropdown-wrapper {
    position:relative;
    top: 20px;
    display:inline;
}

#reset-btn {
    color: white;
    background: #5AC865;
    float:right;
    border:none;
}

#reset-btn:hover {
    background: #88E991;
}

#browse-container {
    width:100%;
    overflow:visible;
}

#category-select {
    width:227px;
}

#slider {
    display: flex;
    overflow-x:scroll;
    overflow-y:hidden;
    scroll-behavior: smooth;
    transition:0.5s;
}

#slider-all {
    display: flex;
    flex-wrap:wrap;
    /* overflow-x:scroll; */
    scroll-behavior:smooth;
    transition:0.5s;
}

#type-menu {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#menu-select {
    display:none;
}
#search-select {
    display:none;
}
#slider::-webkit-scrollbar {width: 0 !important;
    display: none; }

#card-container {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  */
    margin-bottom: 15px;
    border-radius: 4px;
    transition:1s;
    min-width: 40ch;
    max-width: 50ch;
    height:250px;
    flex-shrink: 0;
    margin-right:25px;
}

#card-container:hover {
    cursor: pointer;

}
#card-img-slider {
    height:150px;
}
#card-img {
    object-fit: cover;
    height:150px;
}
#card-container:hover #card-img{
    opacity:0.5;
}
#card-title {
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
    font-weight:700;
}

#card-price {
    margin-top:5%;
    padding:none;
}

#card-time {
    margin-top:-40px;
    float:right;
}

.browse-row {
    display:flex;
    
}

.category-container {
    margin-top:30px;
}

#category-header {
    height:64px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.arrows {
    display:flex;
    align-items:center;
    border-radius: 20px;
    padding-bottom:6px;
}

.arrow-left {
    display:flex;
    align-items:center;
    justify-content: center;
    width:32px;
    height:32px;
    border-radius: 20px;
    background:#e5e5e5;
}

.arrow-left:hover {
    border-radius: 20px;
    background:#f5f5f5;
    
}
.arrow-right {
    margin-left:10px;
    display:flex;
    align-items:center;
    justify-content: center;
    width:32px;
    height:32px;
    border-radius: 20px;
    background:#e5e5e5;
}

.arrow-right:hover {
    border-radius: 20px;
    background:#f5f5f5;
    
}

#card-arrow-left{
    position:absolute;
    z-index:99;
    top:65px;
    opacity:0.5;

}

#card-arrow-right{
    position:absolute;
    top:65px;
    right:0;
    z-index:99;
    opacity:0.5;
}


#see-all {
    color:rgb(114, 114, 114);
    width:64px;
    font-weight:600;
    /* padding-right:6px; */
}

#see-all:hover {
    cursor:pointer;
}
#category-title {
    font-size: 24px;
    width:100%;
    font-weight:700;
}
#off {
    display:none;
}
#nb-results {
    position:relative;
    font-size:20px;
    margin-top:40px;
}
#hit-browse-wrapper {
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

#cuisine-slider {
    width:100%;
    display: flex;
    overflow-x:scroll;
    overflow-y:visible;
    scroll-behavior: smooth;
    transition:0.5s;
    z-index:99;
}
#cuisine-slider::-webkit-scrollbar {width: 0 !important;
    display: none; }

.cuisine-slider-item {
    width:100px;
    height:100px;
    margin-right:10px;
    flex-shrink:0;
    text-align: center;
    
}
.cuisine-slider-item:hover {
    background: #f1f3f5;
    cursor:pointer;
}
.cuisine-slider-item img:hover ~ .cuisine-slider-item {
    background: #e4e7eb;
}
.cuisine-slider-item img {
    width:75px;
    height:75px;
    z-index:-499;
}
.cuisine-slider-item-txt {
    text-align: center;
    z-index:-499;
}
#cuisine-slider-arrows {
    position:absolute;
    margin-top:25px;
    z-index:399;
    max-width:83rem;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.cuisine-slider-arrow {
    width:40px;
    height:40px;
    border-radius:20px;
    background:gray;
    background:#e5e5e5;
    display:flex;
    align-items: center;
    justify-content: center;
}
.cuisine-slider-arrow:hover {
    background:#f5f5f5;
}

#cuisine-slider-left-arrow {
    
}

#cuisine-slider-right-arrow {
    float:right;
}

.d-off {
    visibility:hidden;
}

#display-off {
    display:none;
}