* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    padding: 0.5em;
    color: white;
    text-align: center;
}
/* Copy into new css file */
/**/

li {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.searchwrapper {
    border-radius: 4px;
    position: relative;
    max-width: 300px;
}

.searchwrapper:focus-within {
    border: 1px solid #ccc;
}


#search-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.search-click {
    cursor: pointer;
    
    background-size: 22px;
    background-position: 13px;
    border-radius: 4px;
    width: 40px;
    height: 42px;
    padding: 15px;
    transition: all 0.2s;
    padding-left: 25px;
  }

  .search-click:focus {
    width: 300px;
    padding-left: 40px;
    cursor: text;
  }
  .search-click {
    position: relative;
    overflow: hidden;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }

  .green-btn {
    color: white;
    background: #5AC865;
    font-size:20px;
}
.green-btn:hover {
    background:#88E991;
}

#login-btn {
    border-radius: 4px;
    float:right;
    width:136px;
    height:42px;
    line-height: normal;
}

.modal-content {
  padding-left: 34px;
  padding-right: 34px;
}

#signup-choose-modal {
    width:400px;
}

.modal-header {
    display:flex
}

#or {
    font-weight: 600;
    padding:10px;

}

.separator {
    margin-top:10px;
    width: 100%;
    display:flex;
    align-items: center;
}

.alternative-auth {
    width: 100%;
    display:flex;
    align-items:center;
    
}

#google {
    margin-left:110px;
}

#apple {
    margin-left:30px;
}

#google:hover {
    filter: drop-shadow(0px 4px 4px #000000);
}

#apple:hover {
    filter: drop-shadow(0px 4px 4px #000000);
}
.line-bruh {
    width:50%;
    height: 0px;
    border: 1px solid #000000;
}

.signup-options {
    display:flex;
    flex-wrap:wrap;
}

.option {
    display:flex;
    align-items : center;
    width:100%;
    height:55px;
    border: 1px solid #837676;
    box-sizing: border-box;
    margin-top: 45px;
    color:black;
    font-weight:400;
    line-height:22px;
    border-radius: 5px;
}

.option-text {
    margin-left:10%;
    font-size:18px;
}

.option:hover {
    background-color: #F5F5F5;
    cursor:pointer;
}

.subpicture {
    width: 55px;
    height: 55px;
    display:flex;
    justify-content: center;
    align-items:center;
    float:left;
    border-right: 1px solid #837676;
    box-sizing: border-box;
}
#registration {
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content: center;
    font-family: Inter;
}

#registration-question {
    margin-right:10px;
}

#registration-signup {
    text-decoration: none;
}
#registration-signup:hover {
    color:#88E991;
}


#registration1 {
    margin-top:110px;
    width:100%;
    display:flex;
    justify-content: center;
    font-family: Inter;
    padding:20px;
}

#registration-question1 {
    margin-right:10px;
}

#registration-signup1 {
    text-decoration: none;
}
#registration-signup1:hover {
    color:#88E991;
}

#email-title {

    margin-left:17%;
}
#back-btn {
    margin-left:-15px;
}
#back-btn:hover {
    cursor:pointer;
    color:#88E991;
}

.black-thin-navbar-text {
    display:flex;
    align-items: center;
    color:black;
}

.welcome {
    margin-right: 80px;
}

#forgot-password {
  margin-bottom: 20px;
}

#submit-btn {
  margin-top: 20px;
}