* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    padding: 0.5em;
    color: white;
    text-align: center;
}
/* Copy into new css file */
/**/

li {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.searchwrapper {
    border-radius: 4px;
    position: relative;
    max-width: 300px;
}

.searchwrapper:focus-within {
    border: 1px solid #ccc;
}


#search-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.search-click {
    cursor: pointer;
    
    background-size: 22px;
    background-position: 13px;
    border-radius: 4px;
    width: 40px;
    height: 42px;
    padding: 15px;
    transition: all 0.2s;
    padding-left: 25px;
  }

  .search-click:focus {
    width: 300px;
    padding-left: 40px;
    cursor: text;
  }
  .search-click {
    position: relative;
    overflow: hidden;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }