

.error {
    color: red;
}

.container-fluid.scroll {
    padding-bottom: 60px;
}

#google_link {
    display:flex;
    justify-content: left;
    width:100%;
    height:100%;
    text-decoration:none;
    color:black;
    font-weight:500;
}
#google-btn:hover {
    background: #F5F5F5;
}

#google_logo {

    margin-left:15px;
    
}
#google_text {
    margin-left:75px;
}

#apple-btn {
    font-family: Inter;
    margin-top:5%;
    height:48px;
    float:right;
    width:45%;
    background: #FFFFFF;
    border: 1px solid #C2B8B8;
    box-sizing: border-box;
    border-radius: 10px;
}

#apple_text {
    margin-left:60px;
}


#apple-btn:hover {
    background-color: #F5F5F5;
}

#dish-photo-label {}